.custom-grid {
    display: grid;
    gap: 1.5rem; /* Equivalent to Bootstrap's .gap-4 */
  }

.card-header {
  font-size: 1.8rem; 
  font-weight: bold; 
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin: auto; 
  background-color: #0000;
  border-bottom: var(--bs-card-border-width) solid var(--custom-color);
}
